# MIT License

# Copyright (c) 2021 Neil Enns

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# This workflow generates documentation (PDFs, interactive BOMs, board images) and fabrication
# files for JLCPCB and PCBWay. The version number and date of the design is automatically
# updated in the schematic file and on the PCB based on the GitHub release version and date.

# To use this workflow in your own repo you need to edit the environment variables in the env: section
# below.
name: "KiBot - Release"

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      version:
        description: "Design version"
        required: true
        default: "pre-release"

jobs:
  FabricationAndDocumentation:
    runs-on: ubuntu-latest
    # container: ghcr.io/inti-cmnb/kicad7_auto_full:dev

    env:
      # Set this to your local timezone. See https://www.wikiwand.com/en/List_of_tz_database_time_zones for valid strings.
      Timezone: America/Los_Angeles
      # Set this to the output folder for all of the generated files. Unless you have a very
      # good reason to change this you should leave it as KiBotOutput.
      OutputFolder: "KiBotOutput"

    # These are all the steps that generate the files.
    steps:
      # Check out the PCB design
      - name: Checkout PCB design
        uses: actions/checkout@v3
        with:
          submodules: recursive

      # Get the version of the GitHub release for use later. This is only valid
      # when run in a release context
      - name: Get GitHub release version
        id: get_github_version
        uses: battila7/get-version-action@v2
        if: startsWith(github.ref, 'refs/tags/')
      - name: Store GitHub release version
        id: save_github_version
        run: echo "version=${{ steps.get_github_version.outputs.version }}" >> $GITHUB_ENV
        if: startsWith(github.ref, 'refs/tags/')

      # Get the version from the workflow input. This is only valid
      # when run manually as a workflow.
      - name: Store workflow version
        id: save_workflow_version
        run: echo "version=${{ github.event.inputs.version }}" >> $GITHUB_ENV
        if: startsWith(github.ref, 'refs/tags/') == false

      # Enable caching of 3D models
      - name: Cache 3D models data
        id: models-cache
        uses: set-soft/cache@main
        with:
          path: ~/cache_3d
          key: cache_3d

      # Actually run KiBot to generate all the files. The KiBot script used is
      # in the .kibot/release.kibot.yaml folder.
      - name: Generate documentation and fabrication files
        uses: INTI-CMNB/KiBot@v2_k7
        with:
          config: .kibot/release.kibot.yaml
          dir: ${{ env.OutputFolder }}
          schema: ${{ vars.PROJECT_BASE_NAME }}.kicad_sch
          board: ${{ vars.PROJECT_BASE_NAME }}.kicad_pcb
          cache3D: YES

      # Actually run KiBot to generate all the files. The KiBot script used is
      # in the .kibot/release.kibot.yaml folder.
      - name: Generate documentation and fabrication files (Small)
        uses: INTI-CMNB/KiBot@v2_k7
        with:
          config: .kibot/release.kibot.yaml
          dir: ${{ env.OutputFolder }}
          schema: ${{ vars.PROJECT_BASE_NAME }}.kicad_sch
          board: ${{ vars.PROJECT_BASE_NAME }} (Small).kicad_pcb
          cache3D: YES

      # Install the zip command line tool to package up the output
      - name: Install zip
        uses: montudor/action-zip@v1

      # Zip all the documentation. Any files in the BOM, PDFs, and Renders subfolder
      # are automatically included.
      - name: Zip documentation
        run: zip -qq -r "../${{ vars.PROJECT_BASE_NAME }}-Documentation.zip" BOM PDFs PNGs Renders
        working-directory: ${{ env.OutputFolder }}

      # Upload all the zip files to the release. Note that the PCBWay zip was automatically created by KiBot
      # since it doesn't have BOM or position files associated (like JLCPCB does) so the path to the file
      # to upload is slightly different.
      # If you are copying this to your own repo you'll want to remove the upload of the MobiFlight-Configuration
      # zip file.
      - name: Upload release files
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            ${{ env.OutputFolder }}/PDFs/${{ vars.PROJECT_BASE_NAME }}-assembly.pdf
            ${{ env.OutputFolder }}/PDFs/${{ vars.PROJECT_BASE_NAME }}-schematic.pdf
            ${{ env.OutputFolder }}/Renders/${{ vars.PROJECT_BASE_NAME }}-no-components-top.png
            ${{ env.OutputFolder }}/Renders/${{ vars.PROJECT_BASE_NAME }}-no-components-bottom.png
            ${{ env.OutputFolder }}/JLCPCB/${{ vars.PROJECT_BASE_NAME }}-JLCPCB.zip
            ${{ env.OutputFolder }}/PDFs/${{ vars.PROJECT_BASE_NAME }} (Small)-assembly.pdf
            ${{ env.OutputFolder }}/PDFs/${{ vars.PROJECT_BASE_NAME }} (Small)-schematic.pdf
            ${{ env.OutputFolder }}/Renders/${{ vars.PROJECT_BASE_NAME }} (Small)-no-components-top.png
            ${{ env.OutputFolder }}/Renders/${{ vars.PROJECT_BASE_NAME }} (Small)-no-components-bottom.png
            ${{ env.OutputFolder }}/JLCPCB/${{ vars.PROJECT_BASE_NAME }} (Small)-JLCPCB.zip
            ${{ vars.PROJECT_BASE_NAME }}-Documentation.zip

      # Archive all the artifacts from output and attach to the action's results.
      # This is so they're made available when this workflow is run manually from the
      # GitHub actions page.
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: release_files
          path: ${{ env.OutputFolder }}/**
